
/* css file for the tabs on the left side of the screen*/

.tabContainer {
	display:inline-block;
	height:100%;
	width:12%;
	padding-top:50px;
}

.tabLinkContainer{
	height:75px;
	line-height:75px;
	width:100%;
	margin-bottom:30px;
}

.tabLinkImg{
	height:75px;
	width:75px;
}

.tabLink {
	font-size:14px;
	width:65%;
	background-color:rgb(147, 147, 147);
	height:100%;
	vertical-align:middle;
	display:inline-block;
	margin-left:0;
	border:0;
	padding:0px 5px 0px 5px;
}

.tabLinkContainerHover .tabLink {
	width:75%;
}

.arrow-right {
	position:absolute;
	display:inline-block;
	width: 0; 
	height: 0; 
	border-top-width: 37.5px;
	border-top-style:solid;
	border-top-color:transparent;
	border-bottom-width: 39px;
	border-bottom-style:solid;
	border-bottom-color:transparent;
	border-left-width: 25px;
	border-left-style:solid;
	border-left-color:rgb(147,147,147);
}

.sortable{
	position:relative;
	list-style-type:none;
	padding:0px;
	z-index:1000;
	min-height:100px;
}
.sortableli{
	list-style-type:none;
	padding:0px;
}

.sideArea{
	width:100%;
	height:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
	border:0;
}