body {
    font-family:Helvetica Neue;
}

nav {
    display:inline-block;
    padding:20px 0 20px 0;
}

a {
    text-decoration:none;
}

footer {
	padding:10px;
	background-color:#8f0912;
	border-top:3px solid gray;
}

.headerBar {
    height:80px;
    background-color:#8f0912;
    border-bottom:3px solid gray;
}

.currentPage {
    margin:20px;
    position:relative;
    top:-20px;
    font-size:18pt;
    font-weight:bold;
    color:white;
}

.otherPages {
    margin:10px;
    position:relative;
    top:-20px;
    font-size:13pt;
    font-weight:normal;
    color:lightgray;
}

.iconButton {
    margin:10px;
    position:relative;
}

.leftBlock {
	width: 66%;
    float:left;
	margin:10px;
    padding:10px;
}

.rightBlock {
	width: 25%;
    float:right;
    border-left:3px solid gray;
    margin:10px;
	margin-left:0px;
    padding:10px;
	padding-left:20px;
}

.adsBlock{ 
	height:300px;
	overflow: auto;
}

