/*this is the most general css file (index.html).
Deals with most basic css of the general site such as body, playlist*/



pagebody{
	background-color: rgb(0, 0, 0);
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	padding: 0px 10px 0px 0px;
	text-align: right;
	height: 100px;
	width: 900px;
	margin: auto;
	border: 1px solid rgb(000, 061, 075);
	border-bottom: 8px solid rgb(000, 061, 075);
	background-repeat: no-repeat;
	background-position:bottom center;
}

body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background: rgb(0, 0, 0);
	overflow:hidden;
}

a:link {color:white; text-decoration: none;}
a:hover {color:rgb(243,221,187); text-decoration: none;}
a:active {color:white; text-decoration: none;}

.stuffBody {
	height:100%;
	width:100%;
	position:absolute;
	float:left;
}

.playlist{
	display:inline-block;
	position:absolute;
	height:70%;
	width:62%;
	left:35%;
	top:12%;
	min-height:300px;
	min-width:400px;
	max-width:700px;
}

.playlistBody {
	display:inline-block;
	width:75%;
	height:98%;
}

.playsongs {
	position:relative;
	height:57%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-animation-duration:950ms;
	animation-duration:950ms;
}

.playsongsImg > img{
	display: block;
   	margin: auto auto;
   	top: 2%;
}

.playsongs .otherLists {
	display:inline-block;
	width:100%;
	margin-bottom:2.5%;
	margin-top:2.5%;
}

.playsongsBorder{
	margin-top:0;
    margin-right:-1000px;
	overflow:visible;
	float:left;
	position:relative;
	left:2.5%;
	height:100%;
	width:95%;
	background:rgb(068,068,068);
	z-index:-1000;
}

.playhead {
	background-color: rgb(166, 166, 166);
	position:relative;
	height:12%;
	width:100%;
	z-index:100;
}

.playHeadInfo {
	position:absolute;
	bottom:0;
	left: 5%;
	width:100%;
}

.playHeadInfo .artist {
	color:rgb(0,0,0);
	font-size:25px;
	display:block;
	line-height:30px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

.playHeadInfo .title{
	font-size:25px;
	display:block;
	line-height:50px;
	color:rgb(0,0,0);
	font-weight: bold;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

.bounce {
	top:0;
	left:0;
	position:absolute;
	height:100%;
	width:100%;
	box-shadow: 0 10px 5px -5px rgb(048,048,048);
}

.playbottom {
	position:relative;
	z-index:3;
	height:13%;
	width:99%;
	background-color:rgb(100,100,100);
	box-shadow: 0 -10px 5px -5px rgb(048,048,048);
	vertical-align:middle;
	padding: .5% .5% .5% .5%;
	overflow:hidden;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.playerButton {
	width:50px;
	height:50px;
}

.dummyCalendar{
	margin-left:auto;
	margin-right:auto;
}

table.dummyCalendar td{
	width:30px;
}

@font-face {
    font-family: Ganon;
    src: url(../fonts/retganon.ttf);
}

.newsContainer {
	color:white;
}
