pagebody{
	background-color: rgb(0, 0, 0);
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	padding: 0px 10px 0px 0px;
	text-align: right;
	height: 100px;
	width: 900px;
	margin: auto;
	border: 1px solid rgb(000, 061, 075);
	border-bottom: 8px solid rgb(000, 061, 075);
	background-repeat: no-repeat;
	background-position:bottom center;
}

.tabContainer {
	display:inline-block;
	height:100%;
	width:12%;
	padding-top:50px;
}

.tabLinkContainer{
	height:75px;
	line-height:75px;
	width:100%;
	margin-bottom:30px;
}

.tabLink {
	font-size:14px;
	width:65%;
	background-color:rgb(147, 147, 147);
	height:100%;
	vertical-align:middle;
	display:inline-block;
	margin-left:0;
	border:0;
	padding:0px 5px 0px 5px;
}

.tabLinkContainerHover .tabLink {
	width:75%;
}

.arrow-right {
	position:absolute;
	display:inline-block;
	width: 0; 
	height: 0; 
	border-top: 37.5px solid transparent;
	border-bottom: 39px solid transparent;
	border-left: 25px solid rgb(147, 147, 147);
}

.tabLink a:link, .tabLink a:visited  {
	color:rgb(255,255,255); 
	text-decoration: none;
}

.tabLinkContainerHover>.tabLink a {color:rgb(243,221,187); text-decoration: none;}
.tabLinkContainer:active>.tabLink a {
	color:rgb(228,195,145); 
	text-decoration: none;
} 

body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background: rgb(0, 0, 0);
}

a:link {color:rgb(228,195,145); text-decoration: none;}
a:visited {color:rgb(228,195,145); text-decoration: none;}
a:hover {color:rgb(243,221,187); text-decoration: none;}
a:active {color:rgb(228,195,145); text-decoration: none;} 

.song {
	width:100%;
	background:rgb(194,194,194);
	margin-bottom:15px;
	box-shadow: 0px 5px 10px rgb(048,048,048);
	padding:10px 10px 10px 10px;
	height:60px;
}

.song .voting {
	display:inline-block;
	margin:0px 0px 0px 0px;
}

.voting .upArrow {
	width: 0; 
	height: 0; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid rgb(153, 000, 000);
}

.voting .number {
	font-family:Impact;
	color:#000;
	font-size:20px;
}

.voting .downArrow {
	width: 0; 
	height: 0; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid rgb(153, 000, 000);
}

.song .basic {
	overflow:hidden;
	width:60%;
	display:inline-block;
}

.basic .name {
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

.basic .band {
	font-size:12px;
	color:#000;
	padding-left:10px;
}

.button {
	overflow:hidden;
	display:inline-block;
}

.button .circle {
	display:inline-block;
	width:18px;
	height:18px;
	border-radius:9px;
	font-size:9px;
	color:#000;
	line-height:20px;
	text-align:center;
	background:#fff;
	margin-right:5px;
}

.song .confirm {
	width:100%;
	text-align:center;
	line-height:12px;
	font-size:12px;
}

.confirm .button .circle {
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:15px;
	font-size:15px;
	color:#000;
	line-height:30px;
	text-align:center;
	background:#fff;
	margin-top:10px;
}

.playlist{
	display:inline-block;
	position:absolute;
	height:70%;
	width:50%;
	left:27%;
	top:7%;
	text-align:center;
	min-height = 300px;
	min-width:400px;
	background-color: white;
	overflow:hidden;
}
.dummyCalendar{
margin-left:auto;
margin-right:auto;
}

table.dummyCalendar td{
width:30px;
}

.songItem {
	width:100%;
	background:rgb(194,194,194);
	margin-bottom:15px;
	box-shadow: 0px 5px 10px rgb(048,048,048);
	padding:10px 10px 10px 10px;
}
.basicPart{
	overflow:hidden;
	width:70%;
	display:inline-block;
	height:100%;
}

.votingPart{
	display:inline-block;
	height:100%;
	margin:0px 0px 0px 0px;
}

.bandName{
	font-size:12px;
	color:#000;
	padding-left:10px;
}
.songName{
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
.songUpArrow{
	width: 0; 
	height: 0; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid rgb(153, 000, 000);
}

.songDownArrow{
	width: 0; 
	height: 0; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid rgb(153, 000, 000);
}
.likeNumber{
	font-family:Impact;
	color:#000;
	font-size:20px;
}

