pagebody{
	background-color: rgb(0, 0, 0);
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	padding: 0px 10px 0px 0px;
	text-align: right;
	height: 100px;
	width: 900px;
	margin: auto;
	border: 1px solid rgb(000, 061, 075);
	border-bottom: 8px solid rgb(000, 061, 075);
	background-repeat: no-repeat;
	background-position:bottom center;
}

body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background: rgb(0, 0, 0);
}

a:link {color:white; text-decoration: none;}
a:visited {color:white; text-decoration: none;}
a:hover {color:rgb(243,221,187); text-decoration: none;}
a:active {color:white; text-decoration: none;} 

.playlist{
	display:inline-block;
	position:absolute;
	height:70%;
	width:30%;
	left:27%;
	top:7%;
	text-align:center;
	min-height:300px;
	min-width:400px;
	background-color:white;
}

.playsongs {
	background:rgb(068,068,068);
	height:70%;
	width:100%;
	overflow-y:auto;
}

.playhead {
	height:20%;
	width:100%;
}

.bounce {
	display:inline-block;
	height:100%;
	width:20%;
	float:right;
}

.dummyCalendar{
margin-left:auto;
margin-right:auto;
}

table.dummyCalendar td{
width:30px;
}

